<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>Just Talking</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jonatan Souza">
	  <meta name="description" content="Web chat free!">
	  <meta name="keywords" content="chat, talking, meet, meet, people">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Short+Stack" rel="stylesheet">
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/socket.io.client/dist/socket.io-1.3.5.js"></script>
    <script src="/vendor/moment/min/moment.min.js"></script>
</head>
<%- include navbar -%>
<body>
