<%- include layout/header -%>
    <div class="container-fluid custom-margin">
        <div class="jumbotron">
            <div class="text-center">
                <h1>Just Talking</h1>
                <p>Chat para conhecer pessoas e falar o que quiser!<br><small>Cadastre-se e aproveite!</small></p>
                <p><a class="btn btn-success btn-lg" href="/login" role="button">Entrar</a>
                    <a class="btn btn-primary btn-lg" href="/signup" role="button">Cadastrar</a></p>
            </div>
        </div>
    </div>
    <%- include layout/footer -%>
        </body>

        </html>
